body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    height: 100vh;
    gap: 0;
}
header {
    height: 60px;
    background-color: #333;
    color: white;
    text-align: left;
    padding: 1em 0;
}
header h1{
    margin-left: 10px;
}
nav {
    background-color: #000;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 0.5em;
    transition: color 0.3s;
}
nav a:hover {
    color: #ffcc00;
}
.container {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    height: 350px;
}

.main-content {
    grid-column: 1 / 3;
    background-color: #d3d3d3;
    padding: 1em;
}
.aside-content {
    grid-column: 3 / 4;
    background-color: white;
    padding: 1em;
}
footer {
    height: 200px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 3em 0;
}