@media (min-width: 768px) {
    /* Hide the hamburger menu */
    #menu {
      display: none;
    }
  
    /* Display the navigation */
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    /* Adjust the position of the h2 */
    main h2 {
      text-align: center;
      grid-column: 1 / -1; /* Span across all columns */
    }
  
    /* Spread the navigation links to the right */
    .navigation ul {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      font-size: 20px;
      padding:5px;
    }
  
    /* Adjust the styles of the navigation links */
    .navigation ul li {
      margin-left: 20px; /* Add space between links */
    }
  
    main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      justify-items: center;
    }
  }